input::placeholder {
	color: #ccc;
	font-style: italic;
}

p.userRequest {
	margin: 8px;
	padding: 8px 14px 8px 14px;
	border-radius: 4px;
	min-width: 50%;
	max-width: 85%;
	float: left;
	color: #000000;
	background-color: #e5e5ea;
	border-radius: 1em;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.lexResponse {
	margin: 10px;
	padding: 8px 14px 8px 14px;
	border-radius: 4px;
	text-align: right;
	min-width: 50%;
	max-width: 85%;
	float: right;
	color: #FFFFFF;
	background-color: #1289fe;
	font-style: italic;
	border-radius: 1em;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.lexError {
	margin: px;
	padding: 4px 10px 4px 10px;
	border-radius: 4px;
	text-align: right;
	min-width: 50%;
	max-width: 85%;
	float: right;
	color: #FFFFFF;
	background-color: #ff0000;
	border-radius: 1em;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.closed {
    width: 400px;
    margin-top: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);

}
.open {
  max-height:1000px;
}

#chatwrapper {
	bottom: 0;
	font-size: 12px;
	right: 24px;
	position: fixed;
	width: 400px;
	padding-bottom: 1px;
}

.chevron::before {
	border-style: solid;
	border-width: 4px 4px 0 0;
	content: '';
	display: inline-block;
	height: 7px;
	left: 2px;
	position: relative;
	top: 10px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 15px;
	height: 15px;
	float: right;
	margin-right: 24px;
}

.chevron.bottom:before {
	transform: rotate(135deg);
	width: 15px;
	height: 15px;
	float: right;
	margin-top: -10px;
}




